[SddmGreeterTheme]
Name=Peyto
Name[en_GB]=Peyto
Name[en_CA]=Peyto
Description=Peyto Lake
Author=Mike Birdgeneau, modified from Breeze
Copyright=(c) 2014, David Edmundson, (c) 2025, Mike Birdgeneau
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/mikebirdgeneau/sddm-peyto
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=breeze
Theme-API=2.0
QtVersion=6
